<% provide(:title,"About") %>
<!DOCTYPE html>
<html>
   <head>
      <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
   </head>
   <body>


     <h1>About</h1>
      <p>
       this is the samp application for the tutorial


         </p>
     </body>
</html> 
